@import '_setting';

.task-item {
    background-color: #fff;
    padding: $gap;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    &:not(:last-child) {
        margin-bottom: $gap;
    }
    .task-img {
        display: block;
        height: 165px;
        margin: -$gap (-$gap) 0;
        background-image: url(https://picsum.photos/300/200);
        background-size: cover;
        background-position: center;
        border-radius: 5px 5px 0 0;
    }
}