@import '_setting';

$header-footer-height: 44px;
$list-bg-color: #ebecf0;
$column-height: calc(#{$board-content-height} - #{$gap * 2});

.column {
    flex-shrink: 0;
    width: $column-width;
    height: $column-height;
    border-radius: 8px;
    margin-left: $gap;

    > * {
        background-color: $list-bg-color;
        padding: 0 8px;
    }

    header {
        padding-left: 15px;
        font-size: 16px;
        font-weight: bold;
        height: $header-footer-height;
        line-height: $header-footer-height - 2px;
        border-radius: 5px 5px 0 0;
    }

    footer {
        height: $header-footer-height;
        // line-height: $header-footer-height - 2px;
        border-radius: 0 0 5px 5px;
        color: #5e6c84;
        display: flex;
        align-items: center;
        
        .footer-actions {
            cursor: pointer;
            padding: 6px 10px;
            margin-bottom: 4px;
            width: 100%;
            border-radius: 5px;
            transition: all .15s;
            
            &:hover {
                background-color: #091e4214;
            }
            &:active {
                background-color: #091e4221;
            }

            .icon {
                margin-right: 4px;
            }
        }
    }

    .card-list {
        list-style: none;
        margin: 0;
        max-height: calc(100% - #{$header-footer-height} * 2);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 15px;
        }
        &::-webkit-scrollbar-track {
            background: #dadbe2;
            border: 4px solid $list-bg-color;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: darken($list-bg-color, 15);
            border: solid $list-bg-color;
            border-width: 0 4px;
            border-radius: 10px;
        }

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            font-weight: bold;
        }
        
        .card-ghost-drop{
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
            font-weight: bold;
        }

        .card-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
        }
    }
}