@import '_setting';

.board-content {
    height: $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(68, 68, 68, 0.15);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(225, 225, 225,.7);
        border: 1px solid $board-bg-color;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-button {
        display: block;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
      }
}