@import '~bootstrap/scss/bootstrap';
@import './setting';

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3em;
    font-size: 14px;
}

.trello-app {
    height: 100vh;
    // display: grid;
    // grid-template-rows: 40px 50px 1fr;
    // background-color: $board-bg-color;
    background-image: url('./background.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 12px;
    box-sizing: border-box;
}