@import '~bootstrap/scss/bootstrap';
@import './setting';

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3em;
    font-size: 14px;
}

.trello-app {
    height: 100vh;
    // display: grid;
    // grid-template-rows: 40px 50px 1fr;
    // background-color: $board-bg-color;
    background-image: url('./background.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.content-editable {
    background-color: transparent;
    border-color: transparent;
    font-size: inherit;
    cursor: pointer;

    &:focus-within {
        cursor: text;
    }
}

i.icon-remove {
    font-size: 20px;
    margin-left: 20px;
    opacity: .6;
    cursor: pointer;
    transition: all .15s;

    &:hover {
        opacity: .8;
    }
}

.form-control { // Class of Bootstrap
    margin-bottom: 5px;
    font-size: 15px;

    &:focus {
        box-shadow: none;
    }
}

.btn {  // Class of Bootstrap
    padding: 5px 13px;
    box-shadow: none !important;
}